html {
	height:100%;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color:#E2EBED;
}

header, footer, nav, section {
    display: block;
}


/* menu
----------------------------------------------------------*/
#menu {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

    #menu li {
        display: inline-block;
        list-style: none;
        padding-left: 40px;
    }

        #menu li a {
            display:block;
            background: none;
            color: #999;
            text-decoration: none;
            height: 40px;
            line-height: 40px;
        }

        #menu li a:hover {
            color: #FFF;
            text-decoration: none;
        }


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
